# Python
.venv
*.py[co]

# LaTeX
*.aux
*.synctex
*.synctex.gz
*.log
*.out
*.fls
*.fdb_latexmk

# Cositas de macOS
.DS_Store
*.nav
*.snm
*.toc

# Agregados
app_no.py
GuerraImpuesta_no.py
GuerraImpuesta.ipynb


/Notebooks/.ipynb_checkpoints
